
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
  
    <!-- <a href="index">index</a> -->

    <div class="row" id="signup_page">
        <div class="col l6 s12" id="signup_form" >
            <img src="{% static 'assets/reg1.jpg' %}" alt="" srcset="" id="temp_img">
            <p id="signup_title_mobile"> Login and Explore</p>
            <p id="signup_title" class="hide-on-med-and-down">Login and Explore</p>
            <form action="" method="POST" id="login_form" >
                {% csrf_token %}
                
                
                <input  class="login-fields" type="text" name="username" placeholder="Enter Username (Case Sensitive)">
               
                <input  class="login-fields" type="password" name="password" id="" placeholder="Enter Password">
                <!-- {{ form.as_p}} -->
                <br>
                <input id="login_btn"  class="btn"  type="submit" value="Login" >  
                <br>
                <center><p class="red-text">{{error}}</p></center>
              </form>  
           
    
        </div>
        <div class="col l6 s0 hide-on-med-and-down " id="signup_img" >
            <img src="{% static 'assets/reg1.jpg' %}" alt="" srcset="">
               
        </div>
       
    </div>

   
    
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>